[gcode_macro PRINT_START]
gcode:
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={params.BED_TEMP}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={params.BED_TEMP}
    G28
    SET_PIN PIN=led VALUE=1
    BED_MESH_CALIBRATE ADAPTIVE=1
    G0 X-30 Y-110 Z0.4 F5000
    NEOPIXEL_DISPLAY LED=led TYPE=extruder_temp MODE=glow
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={params.PRINT_TEMP}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={params.PRINT_TEMP}
    SET_LED_TEMPLATE LED=led TEMPLATE=
    SET_LED LED=led GREEN=1 RED=1 BLUE=1
    G92 E0 
    G3 X30 I30 J110 E20 F500
    G92 E0

    [gcode_macro PRINT_END]
gcode:
    M400
    G91
    G1 E-1 F6000
    #   Get Boundaries
    {% set max_x = printer.toolhead.axis_maximum.x|float %}
    {% set max_y = printer.toolhead.axis_maximum.y|float %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set distance = 20 %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - distance) %}
        {% set x_safe = distance %}
    {% else %}
        {% set x_safe = -distance %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - distance) %}
        {% set y_safe = distance %}
    {% else %}
        {% set y_safe = -distance %}
    {% endif %}

    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    G0 Z30 F2000
    G90
    TURN_OFF_HEATERS
    M107
    SET_PIN PIN=led VALUE=0
    G28
    M84

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    PRINT_END
    CANCEL_PRINT_BASE {rawparams}

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    PAUSE_BASE {rawparams}
    G91
    G1 E-2 F1200
    G1 Z50
    G90
    G1 X0 Y0 F6000
	
[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    G91
    G1 E2 F1200
    G90
    RESUME_BASE {rawparams}

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set cooldown = printer.extruder.target<=0 %}
    {% if printer.extruder.target<200 %}
        {% set temp=params.TEMP|default(230) %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={temp}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp-10}
    {% else %}
        {% set temp=printer.extruder.target %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET={temp}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp-10}
    {% endif %}
    G91
    G1 E40 F3000
    G1 E40 F300
    G90
    {% if cooldown %}
        SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% endif %}

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set cooldown = printer.extruder.target<=0 %}
    {% if not printer.extruder.target %}
        {% set temp=params.TEMP|default(printer.configfile.settings.extruder.min_extrude_temp) %}
    {% else %}
        {% set temp=printer.extruder.target %}
    {% endif %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={temp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp}
    G91
    G1 E-40 F600
    G1 E-40 F3000
    G90
    {% if cooldown %}
        SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% endif %}
